html, body, div, ul, li, h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ol, form, input, textarea, th, td, select {
	margin: 0;
	padding: 0;
}
*{box-sizing: border-box;}
h1, h2, h3, h4, h5, h6{font-weight:normal;}
ul,ol {
	list-style: none;
}

img {
	border: none;
	vertical-align: middle;
}

a {
	text-decoration: none;
	color: #232323;
}
li{
	list-style-type: none; 
}
body{
	font-family: '微软雅黑';
}
/*以上是公用的css代码*/
.nav_beauty{
	z-index: 8;
	position: fixed;
	width: 100%;
	display: flex;
	padding-left: 1.5%;
	padding-right: 1.5%;
	top: 30px;
	justify-content: space-around;
	align-items:center;
}
.girl{
	display: block;
	width: 23%;	
}
.girl1.active{
	
	top: 15px;
	width: 25%;
	border: 2px solid #fff;
	margin-bottom:-5px ;
	position: relative;

	/* z-index: 9999; */

}
.top{
	z-index: 9;
	position: fixed;
	opacity: 0.37;
	top: 15px;
	height: 15px;
	width: 100%;
	background: #000;
}
.mask{
	z-index: 9;
	justify-content: space-around;
	align-items:center;
	position: fixed;
	opacity: 0.37;
	top: 30px;
	background: #000;
	padding-left: 1.5%;
    padding-right: 1.5%;
	/* padding-top: 1%; */
	/* padding-bottom: 5px; */
	line-height: 100px;
	width: 100%;
	display: flex;
}
.bot{
	z-index: 9;
	position: fixed;
	opacity: 0.37;
	height: 15px;
	width: 100%;
	background: #000;
}
.act{
	z-index: 99999;
	justify-content: space-around;
	align-items:center;
	position: fixed;
	top: 26px;
	padding-left: 1.5%;
    padding-right: 1.5%;
	line-height: 100px;
	width: 100%;
	display: flex;
}
/* 设置hidden时元素不可选取，此时用不可见度可以解决此事件 */
.girl2{
	display: block;
	opacity: 0;
	/* overflow: hidden; */
	width: 100%;
}
.girl2 img{
	border-radius: 16%;
	display: block;
	border: 2px solid #fff;
	width: 100%;
}
.girl{
	position: relative;
}
/* 小三角 */
.tri{
	/* position: absolute; */
	/* margin-left: 50%;
	transform: translateX(-50%); */
	margin: 0 auto;
	content: '.';
	height: 0;
	width: 0;
	border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #fff;
    border-bottom: 20px solid transparent;
    bottom: -40px;
    left: 8%;
}
.container{
	padding-top: 40%;
	width: 90%;
	margin: 0 auto;
}
.container .same_city_see{
	display: block;
	 /* font-weight: bold; */
	font-size: 130%;
}
.container .star_rate{
	margin-left: -6px;
	width: 23%;
}
.container .download_times,.container .soft_size{
	font-size: 60%;
	color: #999999;

}
.container .download_times{
	margin-left: -1%;
}
.container .soft_size{
	margin-left: 3%;
}


.out2{
	margin-top: 15px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items:center;
	margin-left: 0;
	margin-right: 0;
}
.out2 .example{
	width: 31%;
}
.out3 .tit{
	font-size: 130%;
	margin-bottom: 10px;
    display: block;
    margin-top: 15px;

}
.out3 .cont{
	color:  #545454;
	display: block;
	line-height: 24px;
	font-size: 90%;

}
.out3{
	padding-bottom: 50px;
}
.free_download{
	display: block;
	height: 50px;
	position: fixed;
	bottom: 0;
	margin: 0 auto;
	text-align: center;
	line-height: 50px;
	font-size: 110%;
	width: 100%;
	background: #0285f1;
	color: #fff;
}